<h1>Stupid Coaching</h1>
<div id="container">
<div class="question">
<p><%= params[:question] %></p>
<p><em>-You</em></p>
</div>
<div class="answer">
<p><%= @answer %></p>
<p><em>-Your coach</em></p>
</div>
<div class="link">
<%= link_to "Ask another question", ask_path %>
</div>
</div>
