<h1>Stupid Coaching</h1>

<p>Ask your coach ANYTHING</p>

<form action="/answer" data-turbo="false">
  <input class="" type="text" name="question" value="<% params=[:question] %>" placeholder="What is your question ?">
  <input class="btn btn-primary" type="submit" value="Ask!">
</form>
